.elementor-54 .elementor-element.elementor-element-30faac56>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-30faac56:not(.elementor-motion-effects-element-type-background),
.elementor-54 .elementor-element.elementor-element-30faac56>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-54 .elementor-element.elementor-element-30faac56 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1em 0em 1em 0em;
}

.elementor-54 .elementor-element.elementor-element-30faac56>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-54 .elementor-element.elementor-element-56aa1c8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-56aa1c8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-c9cc6c3 {
    text-align: left;
}

.elementor-54 .elementor-element.elementor-element-c9cc6c3 img {
    width: 65%;
}

.elementor-bc-flex-widget .elementor-54 .elementor-element.elementor-element-6f758919.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-6f758919.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-6f758919.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-54 .elementor-element.elementor-element-e53f228.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-e53f228.elementor-view-framed .elementor-icon,
.elementor-54 .elementor-element.elementor-element-e53f228.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-0720577);
    color: var( --e-global-color-0720577);
    border-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-e53f228 {
    --icon-box-icon-margin: 23px;
    width: auto;
    max-width: auto;
}

.elementor-54 .elementor-element.elementor-element-e53f228 .elementor-icon {
    font-size: 27px;
}

.elementor-54 .elementor-element.elementor-element-e53f228 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-54 .elementor-element.elementor-element-e53f228 .elementor-icon-box-title,
.elementor-54 .elementor-element.elementor-element-e53f228 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-54 .elementor-element.elementor-element-e53f228 .elementor-icon-box-description {
    font-size: 15px;
    font-weight: 500;
}

.elementor-54 .elementor-element.elementor-element-e53f228>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-54 .elementor-element.elementor-element-fa53d34.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-fa53d34.elementor-view-framed .elementor-icon,
.elementor-54 .elementor-element.elementor-element-fa53d34.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-0720577);
    color: var( --e-global-color-0720577);
    border-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-fa53d34 {
    --icon-box-icon-margin: 23px;
    width: auto;
    max-width: auto;
}

.elementor-54 .elementor-element.elementor-element-fa53d34 .elementor-icon {
    font-size: 27px;
}

.elementor-54 .elementor-element.elementor-element-fa53d34 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-54 .elementor-element.elementor-element-fa53d34 .elementor-icon-box-title,
.elementor-54 .elementor-element.elementor-element-fa53d34 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-54 .elementor-element.elementor-element-fa53d34 .elementor-icon-box-description {
    font-size: 15px;
    font-weight: 500;
}

.elementor-54 .elementor-element.elementor-element-fa53d34>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-54 .elementor-element.elementor-element-241071e.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-241071e.elementor-view-framed .elementor-icon,
.elementor-54 .elementor-element.elementor-element-241071e.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-0720577);
    color: var( --e-global-color-0720577);
    border-color: var( --e-global-color-0720577);
}

.elementor-54 .elementor-element.elementor-element-241071e {
    --icon-box-icon-margin: 23px;
    width: auto;
    max-width: auto;
}

.elementor-54 .elementor-element.elementor-element-241071e .elementor-icon {
    font-size: 27px;
}

.elementor-54 .elementor-element.elementor-element-241071e .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-54 .elementor-element.elementor-element-241071e .elementor-icon-box-title,
.elementor-54 .elementor-element.elementor-element-241071e .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-54 .elementor-element.elementor-element-241071e .elementor-icon-box-description {
    font-size: 15px;
    font-weight: 500;
}

.elementor-54 .elementor-element.elementor-element-241071e>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-54 .elementor-element.elementor-element-4d357347>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-4d357347:not(.elementor-motion-effects-element-type-background),
.elementor-54 .elementor-element.elementor-element-4d357347>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-54 .elementor-element.elementor-element-4d357347 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1em 0em 1em 0em;
}

.elementor-54 .elementor-element.elementor-element-4d357347>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-54 .elementor-element.elementor-element-20dab693.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-20dab693.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-54 .elementor-element.elementor-element-1ac5fc86.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-1ac5fc86.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-54 .elementor-element.elementor-element-1ac5fc86.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-54 .elementor-element.elementor-element-2d673323 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-54 .elementor-element.elementor-element-2d673323 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-54 .elementor-element.elementor-element-2d673323 .elementor-button {
    font-family: "Red Hat Display", Sans-serif;
    font-size: 0.938rem;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-menu-toggle {
    margin-left: auto;
    background-color: var( --e-global-color-5e9e8ee);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-df221b8-font-family), Sans-serif;
    font-size: var( --e-global-typography-df221b8-font-size);
    font-weight: var( --e-global-typography-df221b8-font-weight);
    line-height: var( --e-global-typography-df221b8-line-height);
    letter-spacing: var( --e-global-typography-df221b8-letter-spacing);
    word-spacing: var( --e-global-typography-df221b8-word-spacing);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
    padding-left: 0px;
    padding-right: 0px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item:hover,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed .elementor-item:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed .elementor-item:before {
    border-width: 2px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 2px 2px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 2px 2px 0 0;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 2px 0 0 2px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 2px 2px 0;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-underline .elementor-item:after,
.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-overline .elementor-item:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-double-line .elementor-item:before,
.elementor-54 .elementor-element.elementor-element-17d9361 .e--pointer-double-line .elementor-item:after {
    height: 2px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 40px / 2);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 40px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-menu-toggle {
    color: var( --e-global-color-primary);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-73a52b1);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary);
    border-radius: 6px 6px 6px 6px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a:hover,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a.highlighted,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-menu-toggle:hover {
    color: var( --e-global-color-73a52b1);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a:hover,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-73a52b1);
    background-color: var( --e-global-color-accent);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-item,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-6f08468-font-family), Sans-serif;
    font-size: var( --e-global-typography-6f08468-font-size);
    font-weight: var( --e-global-typography-6f08468-font-weight);
    letter-spacing: var( --e-global-typography-6f08468-letter-spacing);
    word-spacing: var( --e-global-typography-6f08468-word-spacing);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 8px 20px 0px rgba(64.92187500000003, 64.92187500000003, 64.92187500000003, 0.06);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 8px !important;
}

.elementor-54 .elementor-element.elementor-element-17d9361 div.elementor-menu-toggle {
    color: var( --e-global-color-primary);
}

.elementor-54 .elementor-element.elementor-element-17d9361 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-primary);
}

.elementor-54 .elementor-element.elementor-element-17d9361 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-primary);
}

.elementor-54 .elementor-element.elementor-element-17d9361 div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-54 .elementor-element.elementor-element-17d9361 .elementor-menu-toggle:hover {
    background-color: var( --e-global-color-5e9e8ee);
}

@media(max-width:1024px) {
    .elementor-54 .elementor-element.elementor-element-4d357347 {
        padding: 1em 1em 1em 1em;
    }
    .elementor-54 .elementor-element.elementor-element-25dfc0d8 {
        text-align: left;
    }
    .elementor-54 .elementor-element.elementor-element-25dfc0d8 img {
        width: 100%;
    }
    .elementor-bc-flex-widget .elementor-54 .elementor-element.elementor-element-1ac5fc86.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-54 .elementor-element.elementor-element-1ac5fc86.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-54 .elementor-element.elementor-element-2d673323 .elementor-button {
        font-size: 1rem;
        padding: 9px 18px 9px 18px;
    }
    .elementor-54 .elementor-element.elementor-element-2d673323 {
        width: auto;
        max-width: auto;
        align-self: center;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-df221b8-font-size);
        line-height: var( --e-global-typography-df221b8-line-height);
        letter-spacing: var( --e-global-typography-df221b8-letter-spacing);
        word-spacing: var( --e-global-typography-df221b8-word-spacing);
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-6f08468-font-size);
        letter-spacing: var( --e-global-typography-6f08468-letter-spacing);
        word-spacing: var( --e-global-typography-6f08468-word-spacing);
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 {
        --nav-menu-icon-size: 30px;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361>.elementor-widget-container {
        margin: 0em 0em 0em 0em;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-54 .elementor-element.elementor-element-20dab693 {
        width: 100%;
    }
    .elementor-54 .elementor-element.elementor-element-25dfc0d8 {
        text-align: center;
    }
    .elementor-54 .elementor-element.elementor-element-25dfc0d8 img {
        width: 68%;
    }
    .elementor-54 .elementor-element.elementor-element-2d673323 .elementor-button {
        font-size: 1rem;
    }
    .elementor-54 .elementor-element.elementor-element-66623538 {
        width: 55%;
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-df221b8-font-size);
        line-height: var( --e-global-typography-df221b8-line-height);
        letter-spacing: var( --e-global-typography-df221b8-letter-spacing);
        word-spacing: var( --e-global-typography-df221b8-word-spacing);
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-54 .elementor-element.elementor-element-17d9361 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-6f08468-font-size);
        letter-spacing: var( --e-global-typography-6f08468-letter-spacing);
        word-spacing: var( --e-global-typography-6f08468-word-spacing);
    }
    .elementor-54 .elementor-element.elementor-element-17d9361 {
        --nav-menu-icon-size: 26px;
    }
}

@media(min-width:768px) {
    .elementor-54 .elementor-element.elementor-element-56aa1c8 {
        width: 37.368%;
    }
    .elementor-54 .elementor-element.elementor-element-6f758919 {
        width: 62.632%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-54 .elementor-element.elementor-element-20dab693 {
        width: 24%;
    }
    .elementor-54 .elementor-element.elementor-element-1ac5fc86 {
        width: 67%;
    }
    .elementor-54 .elementor-element.elementor-element-66623538 {
        width: 9%;
    }
}